body {
    background: url('library.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Button styling */
.btn-primary {
    background: rgba(0, 123, 255, 0.8);
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: rgba(0, 123, 255, 1);
}


footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px;
    background: rgba(44, 62, 80, 0.9);
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}